In [4]:
#print 1 to 5 using while loop
i=1
while(i<6):
    print(i)
    i+=1

1
2
3
4
5

In [8]:
#sum from 1 to 10
i,sum=1,0
while(i<=10):
    sum+=i
    i+=1
print(sum)

55

In [19]:
#factorial 
num=int(input("enter number for factorial"))
fact=1
if(num==0 ):
    print("factorial is :" , fact)
   
else:
    for i in range(1 , num+1):
        fact*=i
    print("factorial is :" , fact)

enter number for factorial 0

factorial is : 1

In [26]:
#count vowels in a string
test=input("enter your desired string")
test=test.lower()
count=0
for i in test:
    if("a" in i or "e" in i or "i" in i or "o" in i or "u" in i ):
        count+=1
print("numbers of vowels : ",count)

enter your desired string %aeiOU%

numbers of vowels :  5

In [10]:
# pattern 
height=5
for i in range(height):
    for j in range(height - i - 1):
        print(" ", end="")
    
    for k in range(2 * i + 1):
        print("*", end="")

    print()

    *
   ***
  *****
 *******
*********

In [20]:
#multiplication table 
n=int(input("till what number do you want to find table "))
for i in range (1,n+1):
    for j in range(1,11):
        print( i,"x", j ,"=", i*j ,end="  ")
    print()

till what number do you want to find table  10

1 x 1 = 1  1 x 2 = 2  1 x 3 = 3  1 x 4 = 4  1 x 5 = 5  1 x 6 = 6  1 x 7 = 7  1 x 8 = 8  1 x 9 = 9  1 x 10 = 10
2 x 1 = 2  2 x 2 = 4  2 x 3 = 6  2 x 4 = 8  2 x 5 = 10  2 x 6 = 12  2 x 7 = 14  2 x 8 = 16  2 x 9 = 18  2 x 10 = 20
3 x 1 = 3  3 x 2 = 6  3 x 3 = 9  3 x 4 = 12  3 x 5 = 15  3 x 6 = 18  3 x 7 = 21  3 x 8 = 24  3 x 9 = 27  3 x 10 = 30
4 x 1 = 4  4 x 2 = 8  4 x 3 = 12  4 x 4 = 16  4 x 5 = 20  4 x 6 = 24  4 x 7 = 28  4 x 8 = 32  4 x 9 = 36  4 x 10 = 40
5 x 1 = 5  5 x 2 = 10  5 x 3 = 15  5 x 4 = 20  5 x 5 = 25  5 x 6 = 30  5 x 7 = 35  5 x 8 = 40  5 x 9 = 45  5 x 10 = 50
6 x 1 = 6  6 x 2 = 12  6 x 3 = 18  6 x 4 = 24  6 x 5 = 30  6 x 6 = 36  6 x 7 = 42  6 x 8 = 48  6 x 9 = 54  6 x 10 = 60
7 x 1 = 7  7 x 2 = 14  7 x 3 = 21  7 x 4 = 28  7 x 5 = 35  7 x 6 = 42  7 x 7 = 49  7 x 8 = 56  7 x 9 = 63  7 x 10 = 70
8 x 1 = 8  8 x 2 = 16  8 x 3 = 24  8 x 4 = 32  8 x 5 = 40  8 x 6 = 48  8 x 7 = 56  8 x 8 = 64  8 x 9 = 72  8 x 10 = 80
9 x 1 = 9  9 x 2 = 18  9 x 3 = 27  9 x 4 = 36  9 x 5 = 45  9 x 6 = 54  9 x 7 = 63  9 x 8 = 72  9 x 9 = 81  9 x 10 = 90
10 x 1 = 10  10 x 2 = 20  10 x 3 = 30  10 x 4 = 40  10 x 5 = 50  10 x 6 = 60  10 x 7 = 70  10 x 8 = 80  10 x 9 = 90  10 x 10 = 100